.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .card {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 32px;
}

.login .card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.login .card .title {
  text-align: center;
  margin-bottom: 16px;
}

.login .card .grid-center {
  display: flex;
  justify-content: center;
}

.login .card .grid-center .link {
  cursor: pointer;
}
